# 데이터 파일
DREAMER.mat

# 라이브러리 파일
src/
ECG/
ECG_512/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Cache
__pycache__
.vscode/settings.json
*.asv

# Model save file
logs/
checkpoints/